[Unit]
Description=Raspberry Pi Camera Capture Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/raspberry_pie_camera_capture
ExecStart=/bin/bash /home/pi/raspberry_pie_camera_capture/scripts/run-camera.sh
Environment="DISPLAY=:0"
Environment="GS_CAMERA_AUTO_CONFIG=true"
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target 